<div class="foot ">
    <div class="container p-5 ">
        <div class="row">
            <div class="col-4">
                <h3 >LOCATION</h3>
                <p>2215 John Daniel Drive</p>
                <p class="py-3">Clark, MO 65243</p>
            </div>
            <div class="col-4">
                <h3 >AROUND THE WEB
                </h3>
                <p>2215 John Daniel Drive</p>
                <p class="py-3">Clark, MO 65243</p>
            </div>
            <div class="col-4">
                <h3>ABOUT FREELANCER</h3>
                <p class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</p>
               
            </div>
        </div>
    </div>
</div>