img{
   border-radius: 10px;
}
h1{
    color: #2c3e50;
    position: relative;
}

h1::after{
    content: "________";
    position: absolute;
    bottom: -5px;
    left: 400px;
    color: #2c3e50;

 
}
h1::before{
    content: "________";
    position: absolute;
    bottom: -5px;
    left: 600px;
color: #2c3e50;
}