<div class="container py-5">
    <h1 class="text-center py-3">PORTFOLIO COMPONENT</h1>
    <div class="row g-5">
        <div class="col-4">
            <img class="w-100" src="../../assets/poert1.png">
        </div>
        <div class="col-4">
            <img class="w-100" src="../../assets/port2.png">
        </div>
        <div class="col-4">
            <img class="w-100" src="../../assets/port3.png">
        </div>
        <div class="col-4">
            <img class="w-100" src="../../assets/poert1.png">
        </div>
        <div class="col-4">
            <img class="w-100" src="../../assets/port2.png">
        </div>
        <div class="col-4">
            <img class="w-100" src="../../assets/port3.png">
        </div>
        
    </div>
</div>
