<div class="contact">
    <div class="container" >
        <h1 class="text-center">CONATCT SECTION
        </h1>
        <form class="">
            <label class="py-3 ">username</label>
            <input class="form-control w-50 " type="text">
            <label class="py-3 ">userAge</label>
            <input class="form-control w-50 " type="text">
            <label class="py-3 ">userEmail</label>
            <input class="form-control w-50 " type="text">
            <label class="py-3 ">userPassword</label>
            <input class="form-control w-50 " type="text">
            <div class="col-auto">
                <button type="submit" class=" my-5 p-2">Send Massage</button>
              </div>
           
        </form>
    </div>
</div>
